/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
h1{
    font-family: 'Playfair Display', serif;
    color: #F58641;
}
h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    color: #735E53;
}

h3 .background {
    background-color: #BBD979;
}
li{
    display: inline;
    line-height: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
#color-palette{
    background-color: white;
    border: solid black 2px;
    padding: 10px;
}
.color{
    height: 150px;
    width: 150px;
    display: inline-block;
}
.color-1{
    background-color: #F58641;
}
.color-2{
    background-color: #BBD979;
}
.color-3{
    background-color: #BFA65D;
}
.color-4{
    background-color: #BFB7B0;
}
.color-5{
    background-color: #735E53;
}
img{
    width: 450px;
    margin: 15px;
}
.caption{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: italic;
}
